/*01------fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*02------config-html------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    width: 1440px;
    background-color: hsl(275, 100%, 97%);
}

/*03------faq------*/
.faq {
    display: flex;
    position: relative;
    justify-content: center;
}

/*03.1------head-figure------*/
.head-figure{
    position: absolute;
}

/*03.2------container------*/
.container {
    width: 40%;
    padding: 2.4em 2.4em 1em;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    margin-top: 150px;
}

/*03.2.1------container-title------*/
.title-star {
    display: flex;
}

.icon-star {
    margin-right: 1rem;
}

.title-faq {
    font-size: 3rem;
    font-weight: 700;
}

/*03.2.2------container-button------*/
.toggle {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: white;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
    border: 1px solid rgb(238, 236, 236);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.toggle-no-border {
    border: none;
}

.toggle h3{
    font-size: 1rem;
}

.toggle:hover {
   color: #E500D7;
}

/*03.2.3------container-paragraphs------*/
.content {
    font-size: 15px;
    color:hsl(292, 16%, 49%);
    display: none;
    padding-bottom: 1rem;
}


/*04------responsive-layout------*/

@media (max-width: 1440px) {
    body {
        width: auto;
    }
}

@media (max-width: 921px) {
    .container {
        width: 363.6px;
    }

    .title-faq {
        font-size: 2.6rem;
    }

    .toggle h3 {
        padding-right: 1.4rem;
    }
}

















